{% extends 'main/header.html' %}


{% block content %}
	<h2>Editing {{user.username}}'s Profile</h2>
	<form method="post">
		{% csrf_token %}
		{{user_form.as_p}}
		{{profile_form.as_p}}
		<button type="submit">Update</submit>
	</form>
{% endblock %}