<!DOCTYPE html>
<html>
<head>
	<title>Proof that I can code Django 2.11 on Python 2.7</title>
</head>
<body>
	<a href = "{% url 'main:index' %}">Home</a>
	{% if user.is_authenticated %}
		<a href = "{% url 'main:logout' %}">Log out</a>
	{% else %} 
		<a href = "{% url 'main:register' %}">Register</a>
		<a href = "{% url 'main:login' %}">Log In</a>
	{% endif %}
	<hr>
	{% if messages %}
		<!-- <ul class="messages"> -->
			{% for message in messages %}
			<p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
			{% endfor %}
		<!-- </ul> -->
	{% endif %}
	{% block content %}
	{% endblock %}
</body>
</html>