{% extends 'main/header.html' %}

{% block content %}
	<h2>Registered Users ({{users.count}} total)</h2>
	{% if users %}
	    <ul>
	    {% for user in users %}
	        <!-- <li><a href="{% url 'main:index' %}">{{ user.username }}</a></li> -->
			<li><a href="{% url 'main:profile' user.id %}">{{ user.username }}</a></li>
	    {% endfor %}
	    </ul>
	{% else %}
	    <p>No users have signed up!</p>
	{% endif %}
	{% if user.is_authenticated %}
		<h3>You are logged in as: {{ user.username }}. <a href="{%url 'main:edit_profile' %}">Edit Profile</a></h3>
	{% else %} 
		<h3>You are not logged in.</h3>
	{% endif %}
{% endblock %}