{% extends 'main/header.html' %}

{% block content %}
	<h2>Viewing {{profile_user.username}}'s Profile</h2>
	<ul>
		<li>Full Name: {{ profile_user.get_full_name }}</li>
		<li>Email: {{ profile_user.email }}</li>
		<li>Bio: {{profile_user.profile.bio}}</li>
		<li>URL: {{profile_user.profile.url}}</li>
		<li>Location: {{ profile_user.profile.location }}</li>
	</ul>
{% endblock %}